<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="serviceType">

	<resultMap id="resultServiceType" type="ServiceType">
		<id property="id" column="ID" />
		<result property="name" column="NAME" />
	</resultMap>

	<select id="getAll" resultMap="resultServiceType">
		SELECT ID,
		       NAME
		FROM SERVICE_TYPE;
	</select>

	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO SERVICE_TYPE (NAME)
		VALUES (#{name});
	</insert>

   <update id="update">
      UPDATE SERVICE_TYPE SET
         name = #{name}
      WHERE id = #{id};
   </update>
   
   <delete id="delete">
      DELETE FROM SERVICE_TYPE
      WHERE id = #{id};
   </delete>
   
</mapper>