@colorBorderButton: #cccccc;
body {
	margin: 0px;
	padding: 5px;
	background: url('wild_flowers.png');
	font-size: small;
	font-family: Arial;
}

.textAlignCenter {
	text-align: center;
}

.panel {
	background: rgba(51, 51, 51, 0.35);
	height: 800px;
	padding: 5px;
	border-radius: 2px;
}

.panelLeft {
	.panel;
	margin-right: 2px;
	width: 400px;
}

.panelRight {
	.panel;
	width: 1485px;
}

.headerButton {
	border-left: 1px dotted @colorBorderButton;
	border-right: 1px dotted @colorBorderButton;
	border-top: 1px dotted @colorBorderButton;
	width: 120px;
	font-size: 14px;
}

.dialogButton {
	border: 1px solid @colorBorderButton;
	width: 70px;
	margin-left: 20px;
}

.gwt-PushButton-up , .gwt-PushButton-up-hovering , .gwt-PushButton-up-disabled , 
.gwt-PushButton-down , .gwt-PushButton-down-hovering , .gwt-PushButton-down-disabled {
	background: linear-gradient(to top, #ddd, #fff);
	color: #000000;
	padding: 5px;
	.textAlignCenter;
}

.gwt-PushButton-up-disabled {
	background: #ddd;
	color: #666;
}

.tablePriceList {
	border-collapse: collapse;
	width: 100%;
	td {
		padding: 3px;
		padding-left: 15px;
	}
}

.headerTablePriceList {
	background: #bbbbbb;
	.textAlignCenter;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}

.serviceTypeRow {
	background: rgb(250, 218, 221);
	.textAlignCenter;
}

.oddRow {
	background: rgba(236, 236, 236, 0.63);
	font-weight: normal;
}

.evenRow {
	background: rgba(250, 218, 221, 0.63);
	font-weight: normal;
}

.selectedRow {
	background: #999;
	color: #fff;
	font-weight: bold;
}

.gwt-DialogBox {
	border: 2px solid #bbbbbb;
	background: rgb(236, 236, 236);
	border-radius: 5px;
	.dialogTop {
		background: #bbb;
		.textAlignCenter;
	}

	.dialogContent {
		padding: 5px;
	}
}

.label {
	font-size: 14px;
	text-decoration: underline;
}

.labelLeftPanel {
	color: #000000;
	cursor: pointer;
	.label;
}

.disabledLabelLeftPanel {
	color: #cccccc;
	cursor: default;
	.label;
}

.labelDialog {
	margin-right: 5px;
}

.gwt-ListBox {
	width: 143px;
}

